logs
activator
activator-launch-1.2.10.jar
activator.bat
README.html
public/images/incoming.svg
project/project
project/target
target/*
!target/scala-2.11
target/scala-2.11/*
!target/scala-2.11/api
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
